<ion-view title="查看">
  <ion-content>

    <div class="row" ng-repeat="data in datas" ng-click="lookDetail(data.time)">
	  <div class="col">
	  	<label class="item-input-wrapper">
		    <input type="text" value="{{data.time |date:'yyyy-MM-dd'}}" readonly="true">
		</label>
	  </div>
	  <div class="col">
	  	<label class="item-input-wrapper">
		    <input type="text" value="{{data.total}}" readonly="true">
		</label>
	  </div>
	  <div class="col">
	  	<label class="item-input-wrapper">
		    <input type="text" value="{{data.state}}" readonly="true">
		</label>
	  </div>
	</div>

  </ion-content>
</ion-view>